[submodule "libs/amulware.Graphics"]
	path = libs/amulware.Graphics
	url = https://github.com/tomrijnbeek/awgraphics.git
[submodule "libs/TomRijnbeek.Audio"]
	path = libs/TomRijnbeek.Audio
	url = https://github.com/tomrijnbeek/tomrijnbeek-audio
[submodule "libs/Bearded.Utilities"]
	path = libs/Bearded.Utilities
	url = https://github.com/beardgame/utilities.git
